.form-login {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 1001;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: #151d25ab;
    padding: 20px;
    justify-content: center;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    margin: 0;
}
.form-login form {
    max-width: 380px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    font-family: "poppins", sans-serif,"roboto", sans-serif;
}
.form-login img{
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.form-login .fa-close{
    font-size: 20px;
    float: right;
}
.form-login .fa-close:hover + .form-login{
    display: none;
}
.welcome{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}
.welcome-label{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}
.form-login label {
    display: block;
    margin-top: 10px;
}
.input-login {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin-top: 5px;
    height: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.input-login:hover{
    border-color: orange;
}
.input-login input{
    outline: none;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.input-login i {
    margin-right: 10px;
    color: orange;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    display: flex;
}
.form-login button{
    background-color: orange;
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    align-items: center;
    height: 40px;
    color: white;
    align-items: center;
    border: 0;
    text-transform:capitalize;
    font-size: 15px;
    font-weight: 500;
}
#progressDiv {
    display: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    justify-content: center;
}
#progressBar {
    width: 20px;
    height: 20px;
    border: 5px solid black;
    background-color: transparent;
    border-radius: 50%;
    border-right-color: transparent;
    animation:  rotateLogin 0.4s infinite;
}
@keyframes rotateLogin {
    to{
        transform: rotate(360deg);
    }
}
@media screen and (max-width:800px) {
    .form-login {
        position: fixed;
        left: 50%;
        width: 100%;
        z-index: 1001;
        height: 100vh;
        transform: translate(-50%, -60%);
        background-color: #151d25ab;
        padding: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    }
    .form-login form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 15px;
    }
}
.bx-lock{
    font-size: 20px;
}